:root {
    --cumbuca-purple: #8B008B;
    --cumbuca-lilac: #E4C8E4;
    --cumbuca-accent: #DA70D6;
    --cumbuca-cream: #FFFEFA;
    --cumbuca-white: #fff;
    --cumbuca-brown: #663333;
    --text-color: #282828;
}

/* Dracula theme overrides */
.cumbuca-bg-light {
    background-color: var(--cumbuca-cream);
}

.cumbuca-bg-dark {
    background-color: var(--cumbuca-purple);
}

.cumbuca-bg-white {
    background-color: var(--cumbuca-white);
}

.cumbuca-bg-purple {
    background-color: var(--cumbuca-purple);
}

.cumbuca-bg-lilac {
    background-color: var(--cumbuca-lilac);
}

.cumbuca-bg-purple-lilac {
    background: linear-gradient(var(--gradientDegree), var(--cumbuca-purple) 0%, var(--cumbuca-lilac) 100%) !important;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s;
  transform-origin: .5em 50%;
  margin-left: 10px;
  color: var(--cumbuca-cream);
}